<div class="maincontainer">
    <div class="box box1">
      <app-sidebar></app-sidebar>
    </div>
<div class="profile-container">
    <!-- Left Side: Profile Form -->
    <div class="profile-form">
        <button class="edit-btn"  (click)="editProfile()">Edit</button>
        <h2>Profile Information</h2>
        <div class="info">
            <label>First Name:</label>
            <input type="text" [(ngModel)]="firstName" [disabled]="isDisableEditing">
            
            <label>Last Name:</label>
            <input type="text" [(ngModel)]="lastName" [disabled]="isDisableEditing">
            
            <label>Username:</label>
            <input type="text" [(ngModel)]="userName" [disabled]="isDisableEditing">
            
            <label>Email:</label>
            <input type="email" [(ngModel)]="email" disabled>
            
            <label>Phone:</label>
            <input type="text" [(ngModel)]="phoneNumber" [disabled]="isDisableEditing">
            
            <label>Gender:</label>
            <select [(ngModel)]="gender" [disabled]="isDisableEditing">
                <option value="">Select Gender</option>
                <option value="male">Male</option>
                <option value="female">Female</option>
                <option value="others">Others</option>
            </select>
        </div>
        <button class="save-btn" (click)="saveDetail()" [disabled]="isDisableEditing">Save Changes</button>
    </div>
    
    <!-- Right Side: Profile Image -->
    <div class="profile-image">
        <img [src]="images ||  'assets/images/user.png'" alt="Profile" class="profile-pic">
        <label class="upload-indicator">
            <input type="file" (change)="onImageChange($event)"  [disabled]="isDisableEditing" hidden>
            <span>+</span>
        </label>
    </div>
</div>
</div>