
<div class="profile-container">
    <!-- Edit Button -->
    


    <!-- Left Side: Profile Photo -->
    <div class="profile-left">

        <input type="file" (change)="onImageChange($event)"   [disabled]="isDisableEditing" />
        <img *ngIf="images" [src]="images" alt="Profile" />
    </div>

    <!-- Right Side: User Details -->
    <div class="profile-right">
        <button class="edit-btn" (click)="editProfile()" >Edit</button>

        <h2>Profile Information</h2>
        <div class="info">
            <div class="row">
                <div class="column">
                    <label for="firstname">First Name:</label>
                    <input type="text"  [disabled]="isDisableEditing" placeholder="Enter the firstName" [(ngModel)]="firstName" pattern="^[a-zA-Z]{3,16}$" required>

                </div>
                <div class="column">
                    <label for="lastname">Last Name:</label>
                    <input type="text"  [disabled]="isDisableEditing" placeholder="enter the lastName" [(ngModel)]="lastName" pattern="^[a-zA-Z]{1,16}$" required>
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <label for="username">Username</label>
                    <input type="text"  pattern="^[a-zA-Z0-9._]{6,15}$" [disabled]="isDisableEditing" pattern="^[a-zA-Z]{3,16}$" placeholder="Username"
                        [(ngModel)]="userName" required>
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <label for="email">Email:</label>
                    <input type="email"  disabled="true" placeholder="enter your email" [(ngModel)]="email" required>
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <label for="phonenumber">Phone:</label>
                    <input type="text"  [disabled]="isDisableEditing" placeholder=" enter the phoneNumber" [(ngModel)]="phoneNumber" pattern="^[6-9]\d{9}$"  required>
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <label for="gender">Gender:</label>
                    <select id="gender" name="gender" [(ngModel)]="gender" [disabled]="isDisableEditing" >
                        <option value="">Select Gender</option>
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                        <option value="others">Others</option>
                    </select>
                    
                </div>
            </div>
        </div>
        <div class="save-btn">
            <button (click)="saveDetail()" [disabled]="isDisableEditing" >Save Changes</button>
        </div>
    </div>
</div>