<router-outlet></router-outlet>
<div class="modal" *ngIf="isModalOpen">
    <div class="modal-content">
      <span class="close-btn" (click)="closeModal()">&times;</span>
      
      <div class="logout" *ngIf="logout">
        <img  src="\assets\logoutimg.png" alt="li"><br>
        <h3>Oh no! You're Leaving....</h3>
        <h3>Are you sure?</h3>
        <button  routerLink='/home'>No,Just Kidding</button><br><br>
        <button  routerLink=''> Yes, Log Me Out</button>
    </div>
    </div>
  </div>