
<div class="container">
    <h2>Upload or Capture Multiple Images and Preview</h2>

    <!-- File input to upload images -->
    <input type="file" (change)="onFileSelect($event)" accept="image/*" multiple #fileInput />
    <br><br>

    <!-- Button to capture image from camera -->
    <br><br>

    <!-- Camera Video Feed -->
    <div class="camera-preview">
        <video id="cameraFeed" *ngIf="stream" [srcObject]="stream" autoplay></video>
    </div>
    <br>
    <button (click)="startCamera()" [disabled]="stream">Start Camera</button>
    <button (click)="captureImage()">Capture</button>

    <!-- Display captured images below the camera feed -->
    <div *ngIf="imageUrls.length > 0" class="captured-images">
        <h3>Captured Images:</h3>
        <div class="image-thumbnails">
            <div *ngFor="let imageUrl of imageUrls; let i = index" class="image-item">
                <div class="image-container">
                    <img [src]="imageUrl" alt="img {{i + 1}}" class="thumbnail-image" />
                    <button (click)="deleteImage(i)" class="delete-button">X</button>
                </div>
            </div>
        </div>
    </div>

    <br><br>

    <!-- Button to generate PDF -->
    <button (click)="generatePDF()" [disabled]="images.length === 0">Generate PDF</button>

    <!-- Stop Camera Stream Button -->
    <button (click)="stopCamera()" [disabled]="!stream">Stop Camera</button>
</div>